.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    width: 100%;
    height: 75vh;
    background-color: white;    
    justify-content: center; 
    font-family: "Lato";   
}

form{    
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 50%;
}

.ic1 {
    margin-top: 30px;
  }

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #eee;
}

textarea {
    height: 100px !important;
    resize: none;
    overflow: auto;
}

.input {
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #18bc9c;
  }

.btnSend {    
    align-self: flex-start;
    padding: 18px 27px;
    font-size: 19px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: #ffffff;
    background-color: #18bc9c;
    border-color: #18bc9c;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;   
    user-select: none;
    margin: 70px 0 0 10px;
}