.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    width: 100%;
    height: 75vh;
    background-color: white;
}

form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    border-top: 1px solid #eee;     
    width: 100%;
    text-align: left;
}

input, textarea {
    width: 90%;
    height: 50px;
    border: 0;
    margin-left: 10px;
}

.btnSend {    
    align-self: flex-start;
    padding: 18px 27px;
    font-size: 19px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: #ffffff;
    background-color: #18bc9c;
    border-color: #18bc9c;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;   
    user-select: none;
    margin: 20px 0 0 10px;
}