.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 100%;
    background-color: #18bc9c;
}

.presentation img {    
    height: 256px;
    margin-top: 100px;;
}

.presentation h1 {
    color: white;
    font-size: 5rem;
    margin: 0;
    text-transform: uppercase;
}

.skills {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    color: white;   
    font-size: 1.75rem; 
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
}

.skills li:hover {
    cursor: unset;
    color: white;
}

.skills li::before {
    content: "-";
    padding-left: 5px;
    padding-right: 5px;
}

.skills li:nth-child(1)::before {
    content: ""; 
 }

 @media screen and (max-width: 767px) {
 
    .presentation h1 {
        font-size: 1.5rem;
    }

    .presentation img {
        height: 200px;
    }

    .skills {
        font-size: 0.80rem; 
        font-weight: 300;
    }
 }